<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="#">Phones APP </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav animate-if" ng-if="$ctrl.username">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="phone.phones">Phones</a></li>
        <li><a ui-sref="about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="animate-if" ng-if="$ctrl.username == undefined"><a ui-sref="register"><span
              class="glyphicon glyphicon-user"></span>
            Sign Up</a></li>
        <li class="animate-if" ng-if="$ctrl.username == undefined"><a ui-sref="login"><span
              class="glyphicon glyphicon-log-in"></span>
            Login</a></li>
        <li class="animate-if" ng-if="$ctrl.username"><a href="" ng-click="$ctrl.logout()"><span
              class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>